CHUNK_SIZE=500
CHUNK_OVERLAP=100
DOCS_FOLDER=pdfs/
REDIS_URL=redis://redis:6379
LOCAL_REDIS_URL=redis://localhost:6379
AZURE_REDIS_URL=rediss://default:xxx@xxx.westeurope.redisenterprise.cache.azure.net:10000
LLMCACHE_THRESHOLD=0.9
TOKENIZERS_PARALLELISM=false
OPENAI_API_KEY=sk-xxx
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
OPENAI_CHAT_MODEL=gpt-4
